@import "../../styles/_vars";

.eats-nav {
  background-color: $blue;

  @media (min-width: $mid-bp) {
    display: block;
    height: 53px;
    padding: 0 40px 0 0;
  }
}

.eats-nav-list {
  display: block;

  @media (min-width: $mid-bp) {
    display: inline-flex;
    align-items: center;
  }
}

.eats-nav-list-item {
  line-height: 53px;

  &:hover {
    background-color: $dark_blue;

    .eats-nav-link {
      color: $yellow;
    }
  }

  .eats-nav-list-item--active {
    background-color: $dark_blue;
    color: $yellow;
  }

  &:first-child {
    .eats-nav-link {
      @media (min-width: $mid-bp) {
        padding-left: 40px;
      }
    }
  }
}

.eats-nav-link {
  color: $white;
  display: block;
  padding: 0 15px;
  border-bottom: 1px solid $gray;

  @media (min-width: $mid-bp) {
    border-bottom: 0;
  }
}
